@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
.main-con{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0 0 0;
}
.main-wrap{
    width: 70%;
}
.main-wrap > h1{
    text-align: center;
    font-weight: 500;
}
.search-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sb-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-field{
    width: 100%;
    position: relative;
}
.search-field > input{
    width: 100%;
    height: 27px;
    outline: none;
    background: none;
    border: 1px solid #dcdddd;
    border-radius: 5px;
    padding: 0 27px 0 10px;
}
.search-field > input:focus,
.input-con > input:focus,
.option-con > select:focus{
    border: 2px solid #5e9cea;
}
.search-field > i{
    position: absolute;
    right: 10px;
    top: 5px;
    color: #b6b6b6;
}
.sb-wrap > button{
    width: 200px;
    height: 27px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #5e9cea;
    cursor: pointer;
}

#form-con{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(182, 182, 182, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}
.form-wrap{
    width: 300px;
    background-color: #fff;
    border-radius: 6px;
}
.form-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d6d6d6;
    padding: 10px 15px;
}
.form-header > button{
    outline: none;
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
}
.form-wrap > form{
    width: 100%;
    padding: 0 10px 10px 10px;
}
.option-con{
    display: block;
    width: 100%;
}
.option-con > label,
.input-con > label,
.image-con > .iamge-label{
    font-size: 12px;
    color: #b6b6b6;
}
.image-con > input{
    display: none;
}
.image-con > .inputImage{
    width: 100%;
    height: 25px;
    border-radius: 4px;
    padding: 4px 10px;
    border: 1px solid #b6b6b6;
    font-size: 12px;
    cursor: pointer;
}
.option-con > select,
.input-con > input{
    width: 100%;
    height: 25px;
    padding: 0 10px;
    border-radius: 4px;
    outline: none;
    background: none;
    border: 1px solid #b6b6b6;
}
.form-wrap > form > input{
    width: 150px;
    height: 27px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: #fff;
    background-color: #5e9cea;
}


#result{
    width: 100%;
    margin-top: 30px;
    display: block;
}
.productConWrap{
    width: 300px;
    border-radius: 6px;
    border: 1px solid #b6b6b6;
    padding: 10px;
    margin-bottom: 10px;
}
.productConWrap > img{
    width: 100%;
    border-radius: 6px;
}
.productConWrap > a{
    width: 100%;
    height: 27px;
    background-color: #5e9cea;
    color: #fff;
    padding: 3px 25px;
    border-radius: 4px;
    font-size: 13px;
    text-decoration: none;
}
#end{
    display: none;
}